#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@layer utilities {
  .animate-draw-check {
    stroke-dasharray: 24;
    stroke-dashoffset: 24;
    animation: drawCheck 0.8s cubic-bezier(0.65, 0, 0.45, 1) forwards 0.3s;
  }
}

@keyframes drawCheck {
  to {
    stroke-dashoffset: 0;
  }
}
